<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">Editar usuario</a>
      
    </div>
  </nav>
 
<div class="container py-5 h-100" >
<div class="card" style="width:400px" >
    <div class="card-body mb-4">
<form class="row g-3">
    <div  class="col-md-6"  >
     
      <label  for="inputNombre" class="form-label" >Nombre de usuario </label>
      <input  type="text" [(ngModel)]="nombre" name="nombre" class="form-control" >
    </div>
    <div  class="col-md-6">
      <label for="inputMarca" class="form-label">Mail</label>
      <input type="text" [(ngModel)]="mail"  name="mail" class="form-control" >
    </div>
    <div  class="col-md-6">
        <label for="inputPrecio" class="form-label">Id</label>
        <input type="text" [(ngModel)]="id"  name="id" class="form-control">
      </div>
   
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="editarUsuario()" >Guardar</button>
      <button type="submit" class="btn btn-warning m-4"  routerLink="/lista-productos"> volver</button>
    </div>
  </form>
 </div>

</div>
